@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Modak&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Warnes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Modak&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Warnes&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001A4B;
}

header {
    background-color: #001A4B;
}

footer {
    background-color: rgb(184, 184, 184);
    position: absolute;
    width: 100%;
}

h1 {
    color: #F7B738;
    font-family: "Chewy", system-ui;
    font-size: xx-large;
    margin: 2em;
    padding: 1em;
    border: 2px dashed rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

h2 {
    color: #F7B738;
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    padding: 1em;
}

p { 
    font-family: "Outfit", sans-serif; 
    color: rgb(255, 255, 255);
    padding: 2em;
    text-align: center;
} 

nav ul {
    border: 1px solid #F7B738;
    background-color: #001A4B;
    display: flex;
    list-style-type: none;
    padding: 1em;
}

header {
    display: flex;
    justify-content: flex-end;
}

nav a { 
    text-decoration: none;
    padding: 1em;
}

nav a:hover {
    background-color: rgba(161, 161, 161, 0.534);
}

section p {
    padding: 1em;
}

section {
    display: flex;
    justify-content: center;
}

section div {
    width: 70%;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 1em;
    font-family: "Outfit", sans-serif;
}

ol {
    padding: 2em;
    list-style-type: circle;
    font-family: "Outfit", sans-serif;
    color: white;
}

main {
    background-color: #001A4B;
}

a:link {
    color:rgb(255, 255, 255);
    transition: all 0.5s ease 0.2s;
}

a:visited {
    color: rgb(216, 216, 216);
}

a:focus {
    color: rgb(255, 17, 0);
}

a:hover {
    color: #F7B738;
}

a:active {
    color: #F7B738;
}

a {
    display: inline-block;
    transition: transform 0.5s ease;
}

a:hover {
    transform: scale(1.2) rotate(10deg);
}

h3 {
    color: rgb(0, 0, 0);
    padding: 1em;
    font-family: "Outfit", sans-serif;
}
